<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h5>Президент РФ 2020</h5>
        </div>
        <div class="card-body">
            <div class="card-text">
                <p class="text-success">Победит Пыня</p>
                <h5>ИЛИ</h5>
                <p class="text-danger">Победит Нэвэльный</p>
            </div>
            <a href="#" class="btn btn-success">O</a>
            <a href="#" class="btn btn-danger">O</a>
        </div>
        <div class="card-footer text-muted text-right small">
            создано пользователем riwerz 2 дня назад
        </div>
    </div>
</div>