{% extends 'wrapper.html' %}
{% block content %}
<div class="d-flex justify-content-start">
    <aside class="list-group">
        <a href="#" class="h6 list-group-item list-group-item-action disabled">Категории:</a>
        <a href="#" class="list-group-item list-group-item-action">Политика</a>
        <a href="#" class="list-group-item list-group-item-action">Экономика</a>
        <a href="#" class="list-group-item list-group-item-action">Религия</a>
        <a href="#" class="list-group-item list-group-item-action">История</a>
        <a href="#" class="list-group-item list-group-item-action">ЛГБТ</a>
        <a href="#" class="list-group-item list-group-item-action">Другое</a>
    </aside>
    <main class="text-center">
        <img style="max-width: 110em" src="https://img.tsn.ua/cached/1533903120/tsn-14c1bd2070f4bd23ecf9ecb086188572/thumbs/1200x630/60/db/4884032c97a3c72d0287ded6a6b7db60.jpeg"/>
    </main>
</div>
{% endblock %}