{% extends 'wrapper.html' %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="pol">Политика</a></li>
        <li class="breadcrumb-item"><a href="econ" >Экономика</a></li>
        <li class="breadcrumb-item"><a href="relg" >Религия</a></li>
        <li class="breadcrumb-item"><a href="hist" >История</a></li>
        <li class="breadcrumb-item"><a href="lgbt" >ЛГБТ</a></li>
        <li class="breadcrumb-item"><a href="rand" >Другое</a></li>
    </ol>
</nav>
<main class="text-center">
    <h1>COMING SOON!</h1>
</main>
{% endblock %}